.menu-mobile {
    display: flex;
    justify-content: space-between;
    padding: 2rem 3rem;
}

.logo-box-mobile {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo-mobile {
    font-weight: bold;
    font-size: 2rem;
    text-transform: lowercase;
    padding-bottom: 10px;
}

.cart-box-mobile {
    display: flex;
    align-items: center;
    gap: 1rem;
}

@media only screen and (max-width: 400px) {
    .menu-mobile{
        padding: 2rem 1rem;
    }
  }