dialog {
    height: 100%;
    width: 100%;
    border: none;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
}

.modal-container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    border-radius: 10px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-main-img {
    width: 400px;
  
}

.modal-close-icon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    color: #333;
}

.modal-thumbnails-row{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 1.2rem;
}

.thumbnails-modal{
    border-radius: 15px;
    width: 70px;
    height: auto;
    cursor: pointer;
}