.dropdown-menu {
    position: absolute;
    background-color: #fff;
    padding: 0.9rem;
    margin: 16px 0 0 0;
    right: 0.9px;
    width: 225px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.list-of-itens-cart {
    margin-top: 22px;
}

.btn-checkout {
    width: 100%;
    border: none;
    background-color: #ff7d1b;
    padding: 0.8rem;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

.active {
    display: block;
}

.none {
    display: none;
}